<%
   @title       = add_window_to(%(##{contributor.rank} <span class="fn">#{h(contributor.name)}</span>), window)
   @description = "Listing of patches contributed by #{contributor.name} to Ruby on Rails"
   @keywords    = contributor.name
%>
