body {
    font-family: 'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;
    margin-top: 30px;
    margin-left: 50px;
    width: 800px;
}

a {
  text-decoration: none;
}

a:link, a:active, a:visited {
  color: #796147;
}

a:hover {
  text-decoration: underline;
}

.commit {
    font-family: Consolas, Monaco, "Courier New", Courier, monospaced;
}

td {
    padding-left: 5px;
    padding-right: 5px;
}

.filename {
    font-style: italic;
}