<% content_for :sidebar do %>
  <h4>
    Commits from
  </h4>
  <ul id="navigation">
    <% for key, name in TimeConstraints.all %>
      <%# I prefer home pages with no query string. %>
      <% query = key == 'all-time' ? {} : {:window => key} %>
      <%= sidebar_tab name, @window == key, contributors_path(query) %>
    <% end %>
  </ul>
<% end %>
