development:
  adapter: mysql2
  encoding: utf8mb4
  database: rails-contributors_development
  pool: 5
  username: root
  password:
  host: localhost

test:
  adapter: mysql2
  encoding: utf8mb4
  database: rails-contributors_test
  pool: 5
  username: root
  password:
  host: localhost

