defaults: &defaults
  adapter: postgresql
  encoding: unicode
  socket: "/var/run/postgresql/.s.PGSQL.5432"
  pool: 5
  min_messages: error

development:
  <<: *defaults
  database: rails_contributors_development

test:
  <<: *defaults
  database: rails_contributors_test
