<% @title = "#{genitiveize(@contributor.name)} Contributions" %>
<h1><%=h @title %></h1>
<table border="0">
  <% for commit in @contributor.commits %>
    <tr>
      <td><%= link_to_commit commit %></td>
      <td><%= commit.committed_timestamp.to_date %></td>
      <td><%=h truncate(commit.short_message, 80) %></td>
    </tr>
  <% end %>
</table>