<% @title = "#{genitiveize(@contributor.name)} Contributions" %>
<h1><%=h @title %></h1>
<table border="0" witdth="80%">
  <colgroup>
    <col width="10%" align="center"/>
    <col width="90%" align="left"/>
  </colgroup>
  <% for commit in @contributor.commits %>
    <tr>
      <td><%= link_to_commit commit %></td>
      <td><%=h commit.short_message %></td>
    </tr>
  <% end %>
</table>