$lead_color: #C52F24;
$dark_lead_color: #AF2A20;
$light_lead_color: #FFF0F5;

body {
	background-color: #eaeaea;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 87.5%;
	line-height: 1.5em;
	color: #333333;
}

/*
---------------------------------
HTML TAGS
---------------------------------
*/

a {
  color: $lead_color;
}

h1 {
  font-size:2em;
  color:#000000;
  margin:10px 0;
}

h2 {
  font-size:1.5em;
  color:#000000;
  margin:10px 0;
}

p {
  margin-bottom:1.5em;
}

strong {
  font-weight:bold;
}

tt {
  font-family:monaco,"Bitstream Vera Sans Mono","Courier New",courier,monospace;
}

/*
---------------------------------
SYNTAX FORMAT
---------------------------------
*/

pre,code {
  margin: 1.5em 0;
  overflow: auto;
  white-space: pre;
}

pre,code,tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5;
}

code {
  background-color:#FFFAFA;
  border: none;
  display: block;
	font-family: monaco, "Bitstream Vera Sans Mono", "Courier New", courier, monospace;
	margin: 0.25em 0 1.5em 0;
}

.ruby .keywords {
  color : #EE3F3F;
}

.ruby .ivar {
  color : blue;
}

.ruby .comment {
  color: #708090;
}

.ruby .symbol {
 color: green;
}


/*
---------------------------------
SPECIFIC TAGS
---------------------------------
*/

h1#title {
  float:left;
}

h1#title span.listing-total {
    color:$lead_color;
    font-size:0.5em;
    font-style:italic;
    font-weight:normal;
}

.clearfix {
  clear:both;
}

.sha1 {
    font-family:Consolas,Monaco,monospace;
    color:#980905;
}

/*
---------------------------------
TOP HEADER LINKS
---------------------------------
*/

#topBar {
	background-color:#000000;
  color:#565656;
  padding:1em;
}

@media (min-width: 768px) {
  #topBar {
    padding: 1em 0;
  }

  #topBar ul {
    display: flex;
  }

  #topBar li:not(:last-child, :first-child) {
    margin-right:6px;
    padding-right:6px;
    border-right: 1px solid #565656;
  }
}

#topBar a.home {
    color:white;
}

#topBar a {
  color:#EE3F3F;
}

#topBar strong {
  color:#999999;
  margin-right:0.5em;
}

/*
---------------------------------
LAYOUT GENERALS
---------------------------------
*/

#header {
  background-color:$lead_color;
  color:#FFFFFF;
  overflow:hidden;
  padding:1em 0;
}

#logo {
  img {
    width: 100%;
    max-width: 492px;
  }
}

#container {
  overflow:hidden;
  position:relative;
  max-width:850px;

  display: flex;
  flex-wrap: wrap-reverse;
  align-items: flex-end;
  overflow: visible;
}

#content {
  background-color:#FFFFFF;
  min-height:500px;
  max-width:630px;
  width: 100%;
  z-index: 1;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2), 0 4px 6px -4px rgba(0, 0, 0, 0.2);
}

#content-in {
  border-top:2px solid #EBEBEB;
  padding:20px;
}

@media (min-width: 768px) {
  .wrapper {
    margin:0 8em;
    text-align:left;
    max-width:69em;
    width: 100%;
  }
}

/*
---------------------------------
SIDEBAR NAVIGATION
---------------------------------
*/
#sidebar {
  background-color:$lead_color;
  color:#FFFFFF;
  margin:20px 0;
  width: 100%;
  padding: 0 20px;

  summary {
    cursor: pointer;
    margin: 5px 0;
  }
}

@media (min-width: 768px) {
  #sidebar {
    width:160px;
    border-bottom-right-radius:10px;
    border-top-right-radius:10px;
  }
}

#sidebar h4 {
  color:#F1938C;
  display:block;
  padding:0 0 0.5em 1em;
}

#sidebar hr {
  color:$dark_lead_color;
  background-color: $dark_lead_color;
  border:1px;
  height:1px;
}

#sidebar li {
  background-color: #E6E6E6;
  border-bottom:3px solid $dark_lead_color;
  display:block;
  font-size: 16px;
  height:30px;
  margin-bottom:10px;
  text-align: center;
}

#sidebar li a {
  color:#999999;
  display:block;
  text-decoration: none;
  padding:5px 10px 5px 15px;
}

#sidebar li a:hover {
  color:#666666;
}

#sidebar li.current a {
  background:#FFF ;
  color:#333;
  font-weight:bold;
}


#sidebar ul#common-links li {
  font-weight: normal;
  font-size:14px;
  margin:0;
}

/*
---------------------------------
TABLES GENERALS
---------------------------------
*/

#table-wrap {
  clear:both;
  color:#555555;
  font-size: 1em;
}

#table-wrap table {
  margin-top:20px;
  width:100%;
}

#table-wrap table tr.header {
  background-color:#333333;
  color:#EEEEEE;
  font-size: 1.2em;
}

#table-wrap table tr.header th {
  padding:5px;
  text-align: left;
}

#table-wrap table tr.even {
  background-color:#ffffff;
}

#table-wrap table tr.odd {
  background-color: $light_lead_color;
}

#table-wrap table td {
  padding:5px;
}

#table-wrap table td.contributor-rank {
  text-align: center;
}

#table-wrap table td.contributor-name {
  width: 75%;
  font-weight: bold;
  font-size: 1.1em;
}

#table-wrap table td.contributor-since {
  white-space: nowrap;
  text-align: left;
}

#table-wrap table td.no-commits {
  text-align: center;
}

td.commit-sha1, td.commit-date {
    white-space: nowrap;
}

/*
---------------------------------
RELEASES LIST TABLE SPECIFICS
---------------------------------
*/

td.release-tag, td.release-date, td.release-name {
    text-align: left;
    white-space: nowrap;
}

td.release-name {
    width: 50%;
    font-weight: bold;
    font-size: 1.1em;
}

#table-wrap table td.release-counter {
    text-align: center;
    white-space: nowrap;
}
