<% @title = "Rails Contributors" %>
<h1><%= @title %></h1>
<table border="0">
  <% for contributor in @contributors %>
    <tr>
      <td  align="right"><%= contributor.contributions_count %></td>
      <td><%= link_to h(contributor.name), contributor_contributions_path(contributor) %></td>
    </tr>
  <% end %>
</table>