<% @title = "Rails Contributors" %>
<h1><%= @title %></h1>
<table border="0">
  <tr>
    <th>Rank</th>
    <th>Commits</th>
    <th align="left">Name</th>
  </tr>
  <% @contributors.each_with_index do |contributor, i| %>
    <tr>
      <td align="right"><%= i + 1 %></td>
      <td align="right"><%= contributor.ncontributions %></td>
      <td><%= link_to h(contributor.name), contributor_commits_path(contributor) %></td>
    </tr>
  <% end %>
</table>