<ul id="navigation">
  <li><a href="/contributors">All time</a></li>
  <li><a href="/contributors/in-time-window/today">Today</a></li>
  <li><a href="/contributors/in-time-window/this-week">This week</a></li>
  <li class="current"><a href="/contributors/in-time-window/this-month">This month</a></li>
  <li><a href="/contributors/in-time-window/this-year">This year</a></li>
  <li><a href="/releases">Releases</a></li>
  <li><a href="/edge/contributors">Edge</a></li>
  <li><a href="/faq">FAQ</a></li>
</ul>
