<strong>
  More at
  <a href="http://rubyonrails.org/" title="Ruby on Rails" class="home">rubyonrails.org:</a>
</strong>

<a href="https://weblog.rubyonrails.org/" title="Ruby on Rails - Blog">Blog</a> |
<a href="http://guides.rubyonrails.org/" title="Ruby on Rails - Guides">Guides</a> |
<a href="http://api.rubyonrails.org/" title="Ruby on Rails - API">API</a> |
<a href="http://stackoverflow.com/questions/tagged/ruby-on-rails" title="Ruby on Rails - Ask for help">Ask for help</a> |
<a href="https://github.com/rails/rails" title="Ruby on Rails - Contribute on GitHub">Contribute on GitHub</a> |
