<ul>
  <li>
    <strong>
      More at
      <a href="http://rubyonrails.org/" title="Ruby on Rails" class="home">rubyonrails.org:</a>
    </strong>
  </li>
  <li><a href="https://weblog.rubyonrails.org/" title="Ruby on Rails - Blog">Blog</a></li>
  <li><a href="http://guides.rubyonrails.org/" title="Ruby on Rails - Guides">Guides</a></li>
  <li><a href="http://api.rubyonrails.org/" title="Ruby on Rails - API">API</a></li>
  <li><a href="http://stackoverflow.com/questions/tagged/ruby-on-rails" title="Ruby on Rails - Ask for help">Ask for help</a></li>
  <li><a href="https://github.com/rails/rails" title="Ruby on Rails - Contribute on GitHub">Contribute on GitHub</a></li>
</ul>
